@{
  ViewData["title"] = "Resultado";
}

<div class="col-md-12 col-lg-12">
  <h2 class="h5 page-title">Resultado Final</h2>
  <p class="text-muted">Veja o resultado final do Campeonato de filmes de forma simples e rápida.</p>
  
  <div class="card-deck my-4" id="resultCards"></div>

</div>

@section Scripts {
  <script src="~/js/result/getResult.js"></script>
}